@import url('https://api.fonts.coollabs.io/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Primary Colors*/
 --red: hsl(0, 100%, 74%);
 --green: hsl(154, 59%, 51%);

    /* Accent Color*/
--blue: hsl(248, 32%, 49%);

    /* Neutral Colors*/
--darkBlue: hsl(249, 10%, 26%);
--grayishBlue: hsl(246, 25%, 77%);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: var(--red);
    background-image: url(images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 20.4375rem;
    min-height: 100vh;
    color: white;
}
.left {
    text-align: center;
}
.left h1 {
    padding-top: 5.75rem;
    font-size: 1.7rem;
    line-height: 2.1rem;
}
.left p {
    padding-top: 1.45rem;
}
.form-heading {
    /* max-width: 20.3125rem; */
    background-color: var(--blue);
    margin-top: 4.375rem;
    padding: 1.25rem 4.5rem;
    text-align: center;
    border-radius: .625rem;
    box-shadow: 0 7px 0 rgba(0, 0, 0, .15);
}
.form-heading p span {
    font-weight: 600;
}
form {
    /* max-width: 20.3125rem; */
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: .625rem;
    background-color: white;
    text-align: center;
    box-shadow: 0 7px 0 rgba(0, 0, 0, .15);
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.input-div {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 100%;
    display: block;
    border-radius: 5px;
    border: 1px solid var(--grayishBlue);
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .02rem;
    outline: none;
}
input:focus {
    border: 1px solid var(--darkBlue);
}
.error-icon {
    position: absolute;
    top: 15px;
    right: 25px;
}
.error-text {
    flex: 1;
    text-align: end;
    font-size: .625rem;
    font-style: italic;
    color: var(--red);
}
button {
    width: 100%;
    background-color: var(--green);
    border: 0;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: .875rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    box-shadow: 0 4px 0 hsla(154, 59%, 44%, .8);
    outline: none;
}
button:hover {
    background-color: hsla(154, 59%, 51%, .9);
    box-shadow: 0 4px 0 hsla(154, 59%, 44%, .7);
}
form p {
    font-size: .75rem;
    color: var(--grayishBlue);
}
form a {
    text-decoration: none;
    color: var(--red);
}
.hidden {
    display: none;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/* Tablet and Desktop */

@media screen and (min-width: 48em) {
    html {
        background-image: url(images/bg-intro-desktop.png);
    }
    main {
        max-width: 90rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        min-height: 100vh;
        gap: 1.875rem;
        color: white;
    }
    .left {
        padding-left: 9.85rem;
        padding-top: 14rem;
        width: 50%;
        text-align: left;  
    }
    .left h1 {
        font-size: 3.125rem;
        line-height: 3.5rem;
    }
    .left p {
        padding-top: 2.25rem;
    }
    .right {
        margin-top: 3.5rem;
        width: 50%;
    }
    .form-heading {
        max-width: 33.75rem;
    }
    form {
        padding: 2rem;
        max-width: 33.75rem;
    }
  } 
  