@import url('https://api.fonts.coollabs.io/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Primary Colors*/
 --red: hsl(0, 100%, 74%);
 --green: hsl(154, 59%, 51%);

    /* Accent Color*/
--blue: hsl(248, 32%, 49%);

    /* Neutral Colors*/
--darkBlue: hsl(249, 10%, 26%);
--grayishBlue: hsl(246, 25%, 77%);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    background-color: var(--red);
    background-image: url(images/bg-intro-mobile.png);
}
main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 6.0625rem;
    padding-bottom: 4.25rem;
    max-width: 20.4375rem;
    min-height: 100vh;
}


.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
